img {
    max-width: 100%;
    height: auto;
}
.custom-btn{
    background-color: #f64f64;
    border-color: #f64f64;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    padding: 6px 18px;
    font-size: 16px;
    line-height: 28px;
    font-weight: 600;
    color: #fff !important;
    border: 2px solid transparent;
    border-radius: 3px;
}
button{
    outline: none;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: color .25s ease-out,background-color .25s ease-out,border-color .25s ease-out;
}